@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-bg {
  background-image: url("./images/banner1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 110px;
}

.name-bg {
  background-image: url("./images/banner2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 70px;
}

.model-bg {
  background-image: url("./images/banner3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 130px;
}

.create-role {
  background-image: url("./images/banner4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 45px;
}

.create-attributes {
  background-image: url("./images/banner5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 60px;
}

#login {
  background-image: url("./images/LoginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-form {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./images/LoginBanner.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 300px;
  height: 540px;
}

.login-key-1{
  height: 100px;
}

.login-key-1{
  height: 100px;
}

.login-key-1{
  height: 100px;
}

#charCreateBG {
  background-image: url("./images/CharacterCreatorBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#charCreate {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 60vh;
  width: 100vw;
  justify-content: space-between;
}

#left-arrow {
  background-image: url("./images/LeftArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-self: center;
  margin: 20px;
  height: 30px;
  width: 60px;
}

#right-arrow {
  background-image: url("./images/RightArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-self: center;
  margin: 20px;
  height: 30px;
  width: 60px;
}

.sprite-holder{
  display: flex;
  align-content: center;
  justify-content: center;
}

#sprite1 {
  background-image: url("./images/Sprite1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#sprite2 {
  background-image: url("./images/Sprite2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#sprite3 {
  background-image: url("./images/Sprite3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#sprite4 {
  background-image: url("./images/Sprite4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

.form-buttons{
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 100vw;
  justify-content: flex-end;
  height: 30vh;
  align-items:center;
}

.create-form {
  text-align: center;
  min-height: 727px;
}

#banner {
  height: 100vh;
  width: 100vw;
}


#signup-form {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./images/LoginBanner.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 300px;
  height: 550px;
}


.character-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-color: black;
  background-color: rgba(252, 231, 175, 0.541);
  min-width: 250px;
  width: 250px;
  height: 120px;
  margin: 0;
}

#hub-organizer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#party-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
  height: 500px;
}

#center-hub {
  justify-content: center;
  align-items: center;
}

#field-hider{
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#hub-bg {
  background-image: url("./images/HubBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#char-sprite1 {
  background-image: url("./images/charactersprites/Sprite1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite2 {
  background-image: url("./images/charactersprites/Sprite2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite3 {
  background-image: url("./images/charactersprites/Sprite3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite4 {
  background-image: url("./images/charactersprites/Sprite4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite5 {
  background-image: url("./images/charactersprites/Sprite5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite6 {
  background-image: url("./images/charactersprites/Sprite6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite7 {
  background-image: url("./images/charactersprites/Sprite7.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite8 {
  background-image: url("./images/charactersprites/Sprite8.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite9 {
  background-image: url("./images/charactersprites/Sprite9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite10 {
  background-image: url("./images/charactersprites/Sprite10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite11 {
  background-image: url("./images/charactersprites/Sprite11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite12 {
  background-image: url("./images/charactersprites/Sprite12.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite13 {
  background-image: url("./images/charactersprites/Sprite13.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite14 {
  background-image: url("./images/charactersprites/Sprite14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite15 {
  background-image: url("./images/charactersprites/Sprite15.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite16 {
  background-image: url("./images/charactersprites/Sprite16.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite17 {
  background-image: url("./images/charactersprites/Sprite17.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite18 {
  background-image: url("./images/charactersprites/Sprite18.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite19 {
  background-image: url("./images/charactersprites/Sprite19.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite20 {
  background-image: url("./images/charactersprites/Sprite20.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite21 {
  background-image: url("./images/charactersprites/Sprite21.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite22 {
  background-image: url("./images/charactersprites/Sprite22.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite23 {
  background-image: url("./images/charactersprites/Sprite23.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite24 {
  background-image: url("./images/charactersprites/Sprite24.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite25 {
  background-image: url("./images/charactersprites/Sprite25.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite26 {
  background-image: url("./images/charactersprites/Sprite26.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite27 {
  background-image: url("./images/charactersprites/Sprite27.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite28 {
  background-image: url("./images/charactersprites/Sprite28.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite29 {
  background-image: url("./images/charactersprites/Sprite29.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite30 {
  background-image: url("./images/charactersprites/Sprite30.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite31 {
  background-image: url("./images/charactersprites/Sprite31.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite32 {
  background-image: url("./images/charactersprites/Sprite32.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite33 {
  background-image: url("./images/charactersprites/Sprite33.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite34 {
  background-image: url("./images/charactersprites/Sprite34.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite35 {
  background-image: url("./images/charactersprites/Sprite35.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite36 {
  background-image: url("./images/charactersprites/Sprite36.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite37 {
  background-image: url("./images/charactersprites/Sprite37.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite38 {
  background-image: url("./images/charactersprites/Sprite38.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite39 {
  background-image: url("./images/charactersprites/Sprite39.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

#char-sprite40 {
  background-image: url("./images/charactersprites/Sprite40.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  left: 300px;
  height: 110px;
  width: 100px;
}

.char-sprite1 {
  background-image: url("./images/charactersprites/Sprite1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.char-sprite2 {
  background-image: url("./images/charactersprites/Sprite2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite3 {
  background-image: url("./images/charactersprites/Sprite3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite4 {
  background-image: url("./images/charactersprites/Sprite4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite5 {
  background-image: url("./images/charactersprites/Sprite5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite6 {
  background-image: url("./images/charactersprites/Sprite6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite7 {
  background-image: url("./images/charactersprites/Sprite7.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite8 {
  background-image: url("./images/charactersprites/Sprite8.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite9 {
  background-image: url("./images/charactersprites/Sprite9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite10 {
  background-image: url("./images/charactersprites/Sprite10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite11 {
  background-image: url("./images/charactersprites/Sprite11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite12 {
  background-image: url("./images/charactersprites/Sprite12.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite13 {
  background-image: url("./images/charactersprites/Sprite13.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite14 {
  background-image: url("./images/charactersprites/Sprite14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite15 {
  background-image: url("./images/charactersprites/Sprite15.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite16 {
  background-image: url("./images/charactersprites/Sprite16.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite17 {
  background-image: url("./images/charactersprites/Sprite17.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite18 {
  background-image: url("./images/charactersprites/Sprite18.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite19 {
  background-image: url("./images/charactersprites/Sprite19.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite20 {
  background-image: url("./images/charactersprites/Sprite20.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite21 {
  background-image: url("./images/charactersprites/Sprite21.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite22 {
  background-image: url("./images/charactersprites/Sprite22.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite23 {
  background-image: url("./images/charactersprites/Sprite23.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite24 {
  background-image: url("./images/charactersprites/Sprite24.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite25 {
  background-image: url("./images/charactersprites/Sprite25.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite26 {
  background-image: url("./images/charactersprites/Sprite26.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite27 {
  background-image: url("./images/charactersprites/Sprite27.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite28 {
  background-image: url("./images/charactersprites/Sprite28.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite29 {
  background-image: url("./images/charactersprites/Sprite29.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite30 {
  background-image: url("./images/charactersprites/Sprite30.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite31 {
  background-image: url("./images/charactersprites/Sprite31.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite32 {
  background-image: url("./images/charactersprites/Sprite32.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite33 {
  background-image: url("./images/charactersprites/Sprite33.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite34 {
  background-image: url("./images/charactersprites/Sprite34.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite35 {
  background-image: url("./images/charactersprites/Sprite35.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite36 {
  background-image: url("./images/charactersprites/Sprite36.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite37 {
  background-image: url("./images/charactersprites/Sprite37.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite38 {
  background-image: url("./images/charactersprites/Sprite38.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite39 {
  background-image: url("./images/charactersprites/Sprite39.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.char-sprite40 {
  background-image: url("./images/charactersprites/Sprite40.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#battlefield {
  background-image: url("./images/BattlegroundBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#combatants {
  display: flex;
  position: relative;
  top: 15vh;
  flex-direction: row;
  justify-content: space-evenly;
}

#action-menu {
  display: flex;
  position: relative;
  border: solid;
  top: 40vh;
  right: 2vw;
  border-color: black;
  background-color: rgba(42, 63, 131, 0.836);
  height: 250px;
  width: 300px;
  justify-content: center;
}

#attack {
  position: relative;
  top: 2vh;
  height: 50px;
  width: 100px;
}

#back-to-hub {
  width: 100px;
  height: 30px
}

.selected-character {
  border: solid;
  border-color: rgb(38, 38, 156);
}